:root {
  font-size: 14px;
  --color-text: #fff;
  --color-bg: #3a3042;
  --color-bg-2: #5e4352;
  --color-link: #fff;
  --color-link-hover: #f5d491;
  --font-cover: tenon, sans-serif;
  --font-weight-cover: 700;
  --font-variation-cover: none;
  --font-size-cover: 11vw;
  --font-transform-cover: uppercase;
  --color-cover: #fff;
  --color-bg-button: #f5d491;
  --color-button: #3a3042;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--color-bg);
  color: var(--color-text);
}

a {
  color: var(--color-link);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--color-link-hover);
}
